<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
<link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">
<title>{{ page.title | default: site.title }}</title>
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{{ page.description | default: site.description }}">
<meta name="keywords" content="{{ page.tags | join: ', ' | default: site.keywords }}">